<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lestvica najboljših</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/stili.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <h3>Lestvica najboljših igralcev</h3>
      <table class="table table-condensed">
        <tr>
          <th class="text-center">Rezultat</th>
          <th class="text-center">Vzdevek</th>
          <th class="text-center">Število vprašanj</th>
          <th class="text-right">Čas reševanja</th>
        </tr>
        <%
                  var lestvica = [
        { cas: "2019-06-19T10:43:07.513Z", vzdevek: "Trump the greatest", stVprasanj: 3, rezultat: 12 },
        { cas: "2019-06-19T09:00:06.856Z", vzdevek: "Mighty Persia", stVprasanj: 5, rezultat: 75 },
        { cas: "2019-06-19T07:00:00.000Z", vzdevek: "Fat boy Kim", stVprasanj: 3, rezultat: 12 },
        { cas: "2019-06-19T12:00:00.000Z", vzdevek: "Olaf", stVprasanj: 7, rezultat: 12 }
      ];
                /*$(document).ready(function() {
			      $.getJSON("/uporabniki_odjemalec.json", function(odgovor) {
				    podatkiDatotekaOdjemalec=odgovor;
		      	});
 	      	});
 	      	*/
 	      	
          lestvica.sort(function (a, b) {
            if (a.rezultat < b.rezultat) {
              return b.rezultat;
            } else if (a.rezultat > b.rezultat) {
              return a.rezultat;
            }
            if (a.stVprasanj < b.stVprasanj) {
              return b.stVprasanj;
            } else if (a.stVprasanj > b.stVprasanj) {
              return a.stVprasanj;
            }
            if (a.cas > b.cas) {
              return b.cas;
            } else if (a.cas < b.cas) {
              return a.cas;
            }
            return 0;
          });
        %>
      </table>
    </div>
  </body>
</html>
