<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="../css/stili.css">
  <script src="../skripte/distance-util.js"></script>
  <script src="../skripte/skripta.js"></script>
  <head>
    <meta charset="UTF-8">
    <title>2. pisni izpit OIS 2018-2019</title>
  </head>
  <body>

    <!-- MENI -->
    <meni class="rob senca">
      <h2>Dobrodošli v geografskem kvizu Slovenije</h2>
      <p id="povezava-lestvica"><a href="/lestvica" class="povezava">Lestvica najboljših igralcev</a></p>
      <div id="navodila" class="skrito">
        <p>Na vprašanje odgovorite s <b>klikom na bližino kraja</b>, ki predstavlja odgovor na zastavljeno vprašanje!</p>
      </div>
      <div id="nastavitve">
        <table style="width:100%">
          <tr>
            <td style="text-align:left"><b>Število vprašanj</b></td>
            <td style="text-align:right">
              <select id="steviloVprasanj">
                <option>1</option>
                <option>3</option>
                <option>5</option>
                <option>7</option>
                <option>10</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="text-align:left"><b>Vzdevek</b></td>
            <td style="text-align:right"><input type="text" id="vzdevek"></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:right"><button id="gumbZacni" class="rob senca">Začni z reševanjem</button></td>
          </tr>
        </table>
      </div>
      <div id="vprasanje" class="skrito">
        <h3 id="zap_st_vprasanja">...</h3>
        <p id="vsebina_vprasanja">...</p>
        <p id="odziv"></p>
      </div>
      <div id="povzetek" class="skrito">
        <h3>Povzetek reševanja</h3>
        <div id="tabela_tock"></div>
      </div>
    </meni>

    <!-- TELO -->
    <telo id="mapa_id" class="rob senca"></telo>

  </body>
</html>
